<div class="navbar-frame">
    <div class="navbar">
        <a class="white-floating-button" href="#"><span class="button-icon">☗</span><span class="button-text">Inicio</span></a>
        <a class="white-floating-button" href="#skills"><span class="button-icon">★</span><span class="button-text">Skills</span></a>
        <a class="white-floating-button" href="#projects"><span class="button-icon">✒</span><span class="button-text">Proyectos</span></a>
        <a class="white-floating-button" href="#contact"><span class="button-icon">✉</span><span class="button-text">Contacto</span></a>
    </div>
</div>
