<app-frame></app-frame>
<app-navbar></app-navbar>
<div class="astronaut fade-in"></div>
<div class="speech-bubble fade-in">
    <h1>Hello, I'm Eloy,</h1>
    <h3>
        Jr. Software Engineer looking for job<br>
        opportunities across all the galaxy<br>
        (not really). This colony is currently<br>
        under construction, but I'd like to create<br>
        projects that can showcase my skills.<br>
    </h3>
</div>
<div id="ground-text">
    <div id="skills"></div>
    <h1>// Skills</h1>
    <div class="skills">
        <div class="skill">
            <h2>Languages</h2>
            <div class="icons">
                <img src="../assets/images/js.png" alt="JavaScript" width="80" height="80">
                <img src="../assets/images/ts.png" alt="TypeScript" width="80" height="80">
                <img src="../assets/images/java.png" alt="Java" width="80" height="80">
                <img src="../assets/images/php.png" alt="PHP" width="80" height="80">
                <img src="../assets/images/python.png" alt="Python" width="80" height="80">
                <img src="../assets/images/cpp.png" alt="C++" width="80" height="80">
                <img src="../assets/images/csharp.png" alt="C#" width="80" height="80">
                <img src="../assets/images/haskell.png" alt="Haskell" width="80" height="80">
                <img src="../assets/images/sql.png" alt="SQL" width="80" height="80">
            </div>
        </div>
        <div class="skill">
            <h2>Frontend</h2>
            <div class="icons">
                <img src="../assets/images/html.png" alt="HTML" width="80" height="80">
                <img src="../assets/images/css.png" alt="CSS" width="80" height="80">
                <img src="../assets/images/react.png" alt="React" width="80" height="80">
                <img src="../assets/images/angular.png" alt="Angular" width="80" height="80">
                <img src="../assets/images/bootstrap.png" alt="Bootstrap" width="80" height="80">
                <img src="../assets/images/tailwind.svg" alt="Tailwind" width="80" height="80">
            </div>
        </div>
        <div class="skill">
            <h2>Backend</h2>
            <div class="icons">
                <img src="../assets/images/nodejs.png" alt="Node.js" width="80" height="80">
                <img src="../assets/images/nextjs.png" alt="Next.js" width="80" height="80">
                <img src="../assets/images/spring.png" alt="Spring" width="80" height="80">
                <img src="../assets/images/MySQL.png" alt="MySQL" width="80" height="80">
                <img src="../assets/images/MongoDB.png" alt="MongoDB" width="80" height="80">
            </div>
        </div>
        <div class="skill">
            <h2>Tools</h2>
            <div class="icons">
                <img src="../assets/images/Linux.png" alt="Linux" width="80" height="80">
                <img src="../assets/images/Git.png" alt="Git" width="80" height="80">
                <img src="../assets/images/GitHub.png" alt="GitHub" width="80" height="80">
                <img src="../assets/images/WordPress.png" alt="WordPress" width="80" height="80">
                <img src="../assets/images/postman.png" alt="Postman" width="80" height="80">
                <img src="../assets/images/docker.png" alt="Docker" width="80" height="80">
                <img src="../assets/images/virtualbox.png" alt="VirtualBox" width="80" height="80">
            </div>
        </div>
    </div>
    <div class="curriculum">
        <h2>Curriculum</h2>
        <a href="https://drive.google.com/file/d/1PR3ypkTMxGTc2NTd18mwQY8gbTuJclS0/view?usp=drive_link" target="_blank">
            <img src="../assets/images/cv.png" alt="Linux" width="200" height="200">
        </a> 
    </div>
    <div id="projects"></div>
    <h1 style="margin-top: 130px;">// Projects</h1>
    <div class="projects">
        <a class="project">
            <img>
            <h2></h2>
            <p></p>
        </a>
    </div>
</div>

